            <!-- Sidebar-->
            <div id="sidebar-wrapper">
                <a href="/index.html"><div class="sidebar-heading border-bottom bg-light"><img src="/assets/FAS-logo.png" alt="Icon" style="width: 30px; height: 30px; margin-right: 10px;">F.A.S WIKI</div></a>

                <div class="list-group list-group-flush">

                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" data-bs-toggle="collapse" data-bs-target="#eventsSubmenu" aria-expanded="false" aria-controls="eventsSubmenu"><img src="/assets/white_skull.png" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Any% basics</a>
                    <div class="collapse show" id="eventsSubmenu">
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/strats/death_optimization.html"><img src="/assets/Science.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Death optimization</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/strats/death_and_direction.html"><img src="/assets/death_and_direction.png" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Death and direction</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/strats/mission_types.html"><img src="/assets/Governmental.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Mission types</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/strats/loadout_list.html"><img src="/assets/Requisition_Slip.svg" alt="Icon" style="height: 20px; margin-right: 10px;">Loadout grocery list</a>
                    </div>

                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" data-bs-toggle="collapse" data-bs-target="#dashboardSubmenu" aria-expanded="false" aria-controls="dashboardSubmenu"><img src="/assets/super_earth_logo.webp" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Cross-faction missions</a>
                    <div class="collapse show" id="dashboardSubmenu">
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="pages/cross_factions/conduct_geological_survey.html"><img src="assets/Conduct_Geological_Survey_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Conduct Geological Suvey</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!"><img src="assets/Launch_ICBM_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Launch ICBM</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!"><img src="/assets/Retrieve_Valuable_Data_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Retrieve Valuable Data</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!"><img src="assets/Spread_Democracy_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Spread Democracy</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!"><img src="assets/Enable_E-710_Extraction_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Start Fuel Pumps</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!"><img src="assets/Terminate_Illegal_Broadcast_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Terminate Illegal Broadcast</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!"><img src="assets/Upload_Escape_Pod_Data_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Upload Escape Pod Data</a>
                    </div> -->

                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" data-bs-toggle="collapse" data-bs-target="#shortcutsSubmenu" aria-expanded="false" aria-controls="shortcutsSubmenu"><img src="/assets/Automatonoutposticon.png" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Automatons specific missions</a>
                    <div class="collapse show" id="shortcutsSubmenu">
                        <!-- <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Activate Oil Pumps</a> -->
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/automaton-specific/blitz.html"><img src="/assets/Eradicate_Automaton_Forces_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Blitz: Search and Destroy</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/automaton-specific/bunkers.html"><img src="/assets/Destroy_Command_Bunkers_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Destroy Command Bunkers</a>
                        <!-- <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Destroy Transmission Network</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Automaton Factory Strider</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Automaton Hulk</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Devastator</a> -->
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/automaton-specific/eradicate.html"><img src="/assets/Eradicate_Automaton_Forces_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Eradicate Automaton Forces</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/automaton-specific/orbital_defenses.html"><img src="/assets/Neutralize_Orbital_Defenses_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Neutralize Orbital Defenses</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/automaton-specific/sabotage_air_base.html"><img src="/assets/Sabotage_Air_Base_Mission_Icon.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Sabotage Air Base</a>
                        <!-- <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Sabotage Supply Bases</a> -->
                    </div>

                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" data-bs-toggle="collapse" data-bs-target="#overviewSubmenu" aria-expanded="false" aria-controls="overviewSubmenu"><img src="assets/TerminidIcon.png" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Terminids specific missions</a>
                    <div class="collapse show" id="overviewSubmenu">
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Blitz: Search and Destroy</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Bile Titan</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Brood Commander</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Charger</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eliminate Impaler</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Enable E-710 Extraction</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Eradicate Terminid Swarm</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Nuke Nuresery</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Purge Hatcheries</a>
                    </div> -->

                    <!-- <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" data-bs-toggle="collapse" data-bs-target="#profileSubmenu" aria-expanded="false" aria-controls="profileSubmenu"><img src="assets/Illuminate_Icon.png" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Illuminate specific missions</a>
                    <div class="collapse show" id="profileSubmenu">
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Blitz: Search and Destroy</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Destroy Harvesters</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Evacuate Colonists</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Free Colony</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Retrieve Recon Craft Intel</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Profile 3</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Profile 3</a>
                    </div> -->

                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" data-bs-toggle="collapse" data-bs-target="#statusSubmenu" aria-expanded="false" aria-controls="statusSubmenu"><img src="/assets/Badge.svg" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Operation Any%</a>
                    <div class="collapse show" id="statusSubmenu">
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="/pages/operations/marathon_cheat_sheet.html"><img src="/assets/Automatonoutposticon.png" alt="Icon" style="width: 20px; height: 20px; margin-right: 10px;">Automatons · Cheat Sheet</a>
                        <!-- <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Terminids</a>
                        <a class="list-group-item list-group-item-action list-group-item-light ps-5" href="#!">Illuminate</a> -->
                    </div>

                </div>

            </div>
